---
layout: 'base.njk'
---

<article class="posts">
    <div class="container">

        <figure>
            <figcaption class="post-title">
                <h1>{{ title }}</h1>

                <p>Last updated: <span>{{ date | postDate }}</span></p>
            </figcaption>
            <br>
            <img src="{{ image }}" alt="{{ imageAlt }}" width="100%">
            <figcaption class="post-title">
                <!-- Could be a bad idea to have share button since people prefer to copy the link themselves,
                Trying this out nonetheless -->
                <!-- Go to www.addthis.com/dashboard to customize your tools --> 
                <div class="addthis_inline_share_toolbox"></div>

                <p class="post-description">
                    {{ description }}
                </p>
            </figcaption>
        </figure>

        {{ content | safe }}    
         
    </div>   
</article>
