<h2>Movies:</h2>

{% for item in items %}
<div class="space-between">
<h3>{{ item.title }} <span>(year)</span></h3>
<p class="rating"><span>7.0</span>/10</p>
</div>
<figure>
<img loading="lazy" width="100%" src="https://new.static.tv.nu/117055124?forceFit=0&height=720&quality=50&width=1280" alt="Boiler room poster">
<figcaption>

<a target="_blank" href="hello"><em>Watch Trailer</em></a>
</figcaption>
</figure>
<p>
hey
</p>
{% endfor %}