@charset "UTF-8";
* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: white;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2d2d30;
  }
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #11823b;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #30AA47;
  }
}
a:hover {
  color: #4c9230;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

figcaption {
  margin-bottom: 1em;
}

::-moz-selection {
  background: #4c9230;
  color: white;
}

::selection {
  background: #4c9230;
  color: white;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
  padding: 0.3em;
}
@media (prefers-color-scheme: dark) {
  kbd {
    border: 1px solid white;
  }
}
kbd:hover {
  margin-top: 1px;
}

em::before {
  content: "» ";
}
em::after {
  content: " «";
}

.mt {
  margin-top: 10em;
}

/* Gradient color1 - color2 - color1 */
hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.responsive-wrapper {
  position: relative;
  height: 0;
}

#Iframe-Training-Sheet {
  max-width: 600px;
  max-height: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05px;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  color: #3A4E4F;
  max-width: 40em;
}
@media (prefers-color-scheme: dark) {
  p {
    color: #ececec;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.7rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.title a {
  color: inherit;
}
.title span {
  color: #11823b;
}
@media (prefers-color-scheme: dark) {
  .title span {
    color: #30AA47;
  }
}
@media (min-width: 900px) {
  .title {
    position: static;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  max-width: 100%;
}

.btn {
  background-color: #11823b;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7em 1.5em;
  border-radius: 8px;
}
.btn:hover {
  background-color: #4c9230;
  color: white;
}
@media (min-width: 1100px) {
  .btn {
    padding: 0.7em;
    font-size: 1.2rem;
  }
}

.hero, .hero-img, .hero-special {
  margin-bottom: 5em;
}
.hero img, .hero-img img, .hero-special img {
  width: 100%;
}
.hero h1, .hero-img h1, .hero-special h1, .hero h2, .hero-img h2, .hero-special h2, .hero p, .hero-img p, .hero-special p {
  color: white;
  margin-bottom: 0.2em;
}
.hero p, .hero-img p, .hero-special p {
  font-size: 1.2rem;
}
.hero .container, .hero-img .container, .hero-special .container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 1000px;
  padding: 5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .hero .container, .hero-img .container, .hero-special .container {
    padding: 8em 1.5em;
  }
}

.hero-special {
  background-color: #11823b;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5333333333) 30%, rgba(255, 255, 255, 0.2666666667) 100%);
  z-index: 1;
}
.hero-img img {
  max-height: 25em;
}
.hero-img .content {
  position: absolute;
  z-index: 2;
  padding: 3em;
}

/* .link-youtube {
    display: flex;
    padding: 0;
    margin: 0;
&::before {
    content: url(https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/32/Youtube-icon.png);
    margin-right: 0.3em;
}
} */
li a {
  color: inherit;
}
li a:hover {
  color: #11823b;
}

.list, .list-number, .list-nav {
  padding: 2em;
}

.list-arrow li::before {
  content: "»";
}

.list-image li {
  list-style-image: URL("https://media.geeksforgeeks.org/wp-content/uploads/20200331172037/image47.png");
  list-style-position: inside;
}

.posts ul {
  margin-top: 3em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /*         li {
              list-style-type: square;
          } */
  /*         a {
              color: inherit;
              font-size: $font-size *1.5;

              &:hover {
                  color: $color-special;
              }
          } */
}

.list-nav {
  margin-top: 3em;
}
.list-nav li {
  list-style: none;
}
.list-nav li::before {
  content: "➜ ";
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  color: #11823b;
}
.list-nav li a {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.list-pros li, .list-pros-cons li li {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  list-style: none;
}
.list-pros li::before, .list-pros-cons li li::before {
  content: "✔  ";
  color: #30AA47;
}

.list-cons li, .list-pros-cons li:nth-child(2) li {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  list-style: none;
}
.list-cons li::before, .list-pros-cons li:nth-child(2) li::before {
  content: "✖ ";
  color: red;
}

.test span:first-child {
  color: green;
}

*, ::before, ::after {
  box-sizing: border-box;
}

blockquote {
  margin: 0px;
  padding: 0px;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  display: flex;
}
blockquote p {
  margin: 0;
  padding: 0;
}

.list-number {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  color: #11823b;
}
@media (prefers-color-scheme: dark) {
  .list-number {
    color: #30AA47;
  }
}
.list-number li {
  list-style: number;
}
.list-number li a {
  color: #3A4E4F;
}
@media (prefers-color-scheme: dark) {
  .list-number li a {
    color: #ececec;
  }
}
.list-number li a:hover {
  color: inherit;
}

ol {
  font-size: 1.3rem;
}

.list-counting li {
  list-style: number;
}

.text-box, .text-warning, .text-box-2 {
  padding: 1em;
  border-radius: 8px;
  margin: 1em 0;
  background-color: #3A4E4F;
  color: white;
}
.text-box p, .text-warning p, .text-box-2 p {
  color: white;
}

.text-box-2 {
  background-color: rgb(218, 214, 214);
  color: black;
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-light {
  font-weight: 300;
  font-size: 0.9rem;
}

.text-warning {
  background-color: red;
  color: white;
  margin-bottom: 0;
}
.text-warning::before {
  content: "WARNING! - ";
  font-weight: 500;
  font-size: 1.2rem;
}

.text-underline {
  -webkit-text-decoration: underline #333333 0.05em;
          text-decoration: underline #333333 0.05em;
}

.text-plus {
  color: #30AA47;
}
.text-plus::before {
  content: "+";
}

.text-minus {
  color: red;
}
.text-minus::before {
  content: "-";
}

.float-right {
  float: right;
}

.color-special {
  color: #11823b;
}

.mr-top {
  margin-top: 3em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip:hover text {
  visibility: visible;
}

.screen-size .tablet {
  display: none;
}
@media (min-width: 600px) {
  .screen-size .phone {
    display: none;
  }
  .screen-size .tablet {
    display: block;
  }
}

.max-width {
  max-width: 100%;
}

.read-more {
  margin-top: 7em;
}
.read-more p {
  font-size: 1rem;
}

.rating span {
  font-weight: 600;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.rating::before {
  content: "★ ";
  color: yellow;
  font-size: clamp(2rem, 4.5vw, 5rem);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space-between h3 {
  margin-bottom: 1.8em;
}

.title-number {
  color: #11823b;
}
@media (prefers-color-scheme: dark) {
  .title-number {
    color: #30AA47;
  }
}
.title-number::after {
  content: " ";
}

.overlay-fullscreen {
  display: none;
  opacity: 1;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

blockquote {
  display: block;
  position: relative;
  margin: 4em 0;
  font-size: 1.3rem;
}
blockquote::before, blockquote::after {
  content: "“";
}
blockquote cite {
  display: block;
  position: absolute;
  padding-left: 1em;
  font-size: 1rem;
}

.share {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 50%;
  z-index: 1;
  padding: 1em;
  background-color: white;
}

.snippet-basic h2, .snippet-featured h2, .snippet h2, .snippet-basic h3, .snippet-featured h3, .snippet h3 {
  margin-top: 0.5em;
}
.snippet-basic li, .snippet-featured li, .snippet li {
  margin-top: 3em;
}
.snippet-basic img, .snippet-featured img, .snippet img {
  min-height: 14em;
}

.snippet img {
  grid-area: image;
}
.snippet .content {
  grid-area: cont;
}
.snippet span {
  color: #3A4E4F;
  font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .snippet span {
    color: white;
  }
}
.snippet p {
  margin: 0.7em 0;
}
.snippet p:nth-child(3) {
  color: #3A4E4F;
  margin-bottom: 2em;
}
@media (prefers-color-scheme: dark) {
  .snippet p:nth-child(3) {
    color: white;
  }
}
@media (min-width: 900px) {
  .snippet article {
    display: grid;
    grid-template-areas: "cont image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.snippet-featured p:nth-child(2) {
  margin: 0.5em 0;
}
.snippet-featured p:nth-child(2) span {
  color: #3A4E4F;
}
@media (prefers-color-scheme: dark) {
  .snippet-featured p:nth-child(2) span {
    color: white;
  }
}
.snippet-featured p:nth-child(3) {
  margin-bottom: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.snippet-featured article {
  margin-top: 2em;
}
@media (min-width: 600px) {
  .snippet-featured article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
}
@media (min-width: 900px) {
  .snippet-featured article {
    margin-top: 0;
  }
}
@media (min-width: 600px) {
  .snippet-featured .content {
    padding: 1em 2em 3em 2em;
  }
}
@media (min-width: 900px) {
  .snippet-featured .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2em;
  }
  .snippet-featured .container article {
    height: 100%;
  }
}

th, tr, td {
  text-align: center;
  border: 1px solid black;
}
@media (prefers-color-scheme: dark) {
  th, tr, td {
    border-color: #ececec;
  }
}

th {
  padding: 0.4em;
}
@media (min-width: 900px) {
  th {
    padding: 0.5em;
  }
}

table {
  width: 100%;
}
@media (min-width: 900px) {
  table {
    width: auto;
  }
}

.table-big {
  width: 100%;
}

.table-formula {
  display: inline-table;
  font-size: 1rem;
  border-collapse: collapse;
  vertical-align: middle;
  font-size: 1rem;
  width: auto;
}
.table-formula td {
  padding: 0px;
  border: none;
  font-size: 1.3rem;
}
.table-formula tr {
  border: none;
}
.table-formula tr:last-child td {
  border-top: 1px solid black;
}
@media (prefers-color-scheme: dark) {
  .table-formula tr:last-child td {
    border-color: #ececec;
  }
}

footer {
  background-color: #11823b;
  color: white;
  padding: 3em;
}
footer .container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 1000px;
}

.main-header {
  background-color: white;
  padding: 0.8em 0 2em 0;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
@media (prefers-color-scheme: dark) {
  .main-header {
    background-color: #2d2d30;
  }
}
.main-header.active {
  position: fixed;
}
@media (min-width: 900px) {
  .main-header {
    position: static;
  }
}
.main-header nav {
  display: flex;
  background-color: white;
  z-index: 3;
  position: fixed;
  right: -100%;
  top: 50px;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  padding: 2em;
  justify-content: space-between;
}
.main-header nav li:last-child {
  padding-bottom: 2em;
}
@media (min-width: 900px) {
  .main-header nav li:last-child {
    padding-bottom: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .main-header nav {
    background-color: #2d2d30;
  }
  .main-header nav a {
    color: white;
  }
  .main-header nav a:hover {
    color: #4c9230;
  }
}
.main-header nav.active {
  left: 0;
}
@media (min-width: 900px) {
  .main-header nav {
    position: static;
    right: 0;
    left: 0;
    top: auto;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
  }
  .main-header nav a {
    font-weight: 300;
    font-size: 1.1rem;
  }
}
.main-header .container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu a {
  font-weight: 500;
  color: #3A4E4F;
  z-index: 4;
}

.hamburger {
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #3A4E4F;
}
@media (prefers-color-scheme: dark) {
  .hamburger span {
    background-color: white;
  }
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

main {
  margin-bottom: 10em;
}
main .container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 1000px;
}

article img {
  max-height: 25em;
}
article p :first-child {
  margin-bottom: 5em;
}

.posts {
  margin-top: clamp(1em, 5vw, 6em);
  /* ul {
      margin-top: 3em;
      padding-left: 2em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      li {
          list-style-type: square;
      }

      a {
          color: inherit;
          font-size: $font-size *1.5;

          &:hover {
              color: $color-special;
          }
      }
  } */
}
.posts h1 {
  margin-top: 1em;
}
.posts h2, .posts h3, .posts h4 {
  margin-top: 3em;
}
.posts p {
  margin-top: 1.5em;
}
.posts .container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 800px;
}
.posts img:first-child {
  max-height: 20em;
}
.posts figure figcaption p {
  margin-top: 1em;
}

.post-title p {
  margin-top: 0.2em;
}
.post-title span {
  font-weight: 500;
  color: #333333;
}
@media (prefers-color-scheme: dark) {
  .post-title span {
    color: white;
  }
}

.post-description {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  margin-bottom: 1em;
  color: black;
  margin-top: 0.5em;
}
@media (prefers-color-scheme: dark) {
  .post-description {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */