@use "../utilities" as *;

/* .link-youtube {
    display: flex;
    padding: 0;
    margin: 0;
&::before {
    content: url(https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/32/Youtube-icon.png);
    margin-right: 0.3em;
}
} */