@use "../utilities" as *;

.text-box {
    padding: 1em;
    border-radius: 8px;
    margin: 1em 0;

    background-color: $color-dark;
    color: $color-light;

    p {
        color: $color-light;
    }
}

.text-box-2 {
    @extend .text-box;
    background-color: $color-grey-200;
    color: black;

}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.text-centered {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.text-light {
    font-weight: 300;
    font-size: $font-size * 0.9;
}

.text-warning {
    @extend .text-box;
    background-color: $color-red;
    color: $color-light;
    margin-bottom: 0;

    &::before {
        content: "WARNING! - ";
        font-weight: 500;
        font-size: $font-size * 1.2;
    }
}

.text-underline {
    text-decoration: underline $color-grey 0.05em;
    //text-decoration-color: $color-special;
    //text-decoration-thickness: 0.05em;
}

.text-plus {
    color: $color-green;

    &::before {
        content: "+";
    }

}

.text-minus {
    color: $color-red;

    &::before {
        content: "-";
    }
}

.float-right {
    float: right;
}

.color-special {
    color: $color-special;
}

.mr-top {
    //content: "";
    margin-top: $between-pages * 0.3;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    text {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    &:hover text {
        visibility: visible;
    }
}

.screen-size {
    .tablet {
        display: none;
    }

    @include screen(phone) {
        .phone {
            display: none;
        }
        .tablet {
            display: block;
        }
    }
}

.max-width {
    max-width: 100%;
}

.read-more {
    margin-top: 7em;

    p {
        font-size: $font-size;
    }
}

.rating {
   // position: static;
    span {
        font-weight: 600;
        font-size: clamp($font-size * 1.5, 2.5vw, $font-size * 3);
    }

    &::before {
                content: "\02605\000A0";
                color: $color-yellow;
                font-size: clamp($font-size * 2, 4.5vw, $font-size * 5);
            }
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        //Cant get the objects to be next to eachother so this is a temporarily solution.
        margin-bottom: 1.8em;
    }
}

.title-number {
    color: $color-special;

    @include theme(dark) {
        color: $color-special-200;
    }

    &::after {
        content: "\000A0";
    }
}

.compound-result {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;

    h3 {
        margin-bottom: 0.5em;
    }
}

#totalCompound {
    font-size: $font-size * 1.5;
}

.responsive-two {

    @include screen(tablet) {
        display: flex;

        .compound-result {
            padding: 1em 3em;
        }
    }
}