@use "../utilities" as *;

$table-border: 1px solid $color-black;

th, tr, td {
  text-align: center;
  border: 1px solid $color-black;

    @include theme(dark) {
      border-color: $color-light-200;
    }
  }

  th {
    padding: 0.4em;

    @include screen(tablet) {
      padding: 0.5em;
    }
  }

  table {
    width: 100%;

    @include screen(tablet) {
      width: auto;
    }
  }

  .table-big {
    width: 100%;
  }

.table-formula {
  display:inline-table; 
  font-size:$font-size; 
  border-collapse:collapse; 
  vertical-align:middle;
  font-size: $font-size;
  width: auto;

  td {
    padding:0px;
    border:none;
    font-size: $font-size * 1.3;
  }

  tr {
    border: none;

    &:last-child {
      td {
        border-top: $table-border;
        @include theme(dark) {
          border-color: $color-light-200;
        }
      }
    }
  }
}