@use "../utilities" as *;

th, tr, td {
  text-align: center;
  border: 1px solid $color-black;

    @include theme(dark) {
      border-color: $color-light-200;
    }
  }

  th {
    padding: 0.4em;

    @include screen(tablet) {
      padding: 0.5em;
    }
  }

  table {
    width: 100%;

    @include screen(tablet) {
      width: auto;
    }
  }

  .table-big {
    width: 100%;
  }