---
title: Compounding Calculator
layout: 'base.njk'
type: website
description: Compounding Calculator
author: Albini
keywords: investing, stocks, cheap, value
---

<div class="hero-special">
    <div class="container">
        <h1>Compounding Interest Calculator</h1>
        <h4>- The Eighth Wonder of the World</h4>
    </div>
</div>

<article class="container">

<div class="responsive-two">
    <section>
        <label for="">Starting Capital $</label>
        <br>
        <input type="number" id="capital" value="10000" onchange="compounding();">
        <label for="">Monthly Contribution $</label>
        <br>
        <input type="number" id="savings" value="100" onchange="compounding();">
        <label for="">Years Investing</label>
        <br>
        <input type="number" id="years" value="5" onchange="compounding();">
        <label for="">Returns %</label>
        <br>
        <input type="number" id="returns" value="8" onchange="compounding();">
    </section>
    <section class="compound-result">
        <h3>Result</h3>
        <label for="">Total after <span id="totalYears"></span> years:</label>
        <span id="totalCompound"></span>
        <label for="">Return:</label>
        <span id="totalReturn"></span>
        <label for="">Total Savings: </label>
        <span id="totalSavings"></span>
    </section>
</div>

<!-- TODO -->
<!-- Make it run on startup once. -->
<!-- Make it work with montly contributions -->
<!-- https://i.imgur.com/krxbOg0.jpg -->
<!-- https://www.reddit.com/r/financialindependence/comments/3gvwdm/question_about_compound_interest_math/-->

<br>

<!-- cell spacing removes the space between td-->
<table cellspacing=0>
<!--     <thead>
        <tr>
            <th>Year</th>
            <th>Sum</th>
        </tr>
    </thead> -->
    <tbody id="tableData" class="every-other"></tbody>
</table>

</article>