---
title: Compounding Calculator
layout: 'base.njk'
type: website
description: Compounding Calculator
author: Albini
keywords: investing, stocks, cheap, value
---

<div class="hero-special">
    <div class="container">
        <h1>Compounding Interest Calculator</h1>
        <h4>- The Eighth Wonder of the World</h4>
    </div>
</div>

<article class="container" onload="compounding();">

<div class="responsive-two">
    <section>
        <label for="">Starting Capital $</label>
        <br>
        <input type="number" id="capital" value="10000" onchange="compounding();">
        <label for="">Monthly Contribution $</label>
        <br>
        <input type="number" id="savings" value="100" onchange="compounding();">
        <label for="">Years Investing</label>
        <br>
        <input type="number" id="years" value="25" onchange="compounding();">
        <label for="">Returns %</label>
        <br>
        <input type="number" id="returns" value="10" onchange="compounding();">
    </section>
    <section class="compound-result">
        <h3>Result</h3>
        <label for="">Total after <span id="totalYears"></span> years:</label>
        <span id="totalCompound"></span>
        <label for="">Return:</label>
        <span id="totalReturn"></span>
        <label for="">Total Savings: </label>
        <span id="totalSavings"></span>
    </section>
</div>

<!-- TODO -->
<!-- Make a chart -->

<br>

<div>
<canvas id="myChart" style="width:100%;max-width:700px" class="lineChart"></canvas>
</div>

<!-- cell spacing removes the space between td-->
<table cellspacing=0>
<!--     <thead>
        <tr>
            <th>Year</th>
            <th>Sum</th>
        </tr>
    </thead> -->
    <tbody id="tableData" class="every-other"></tbody>
</table>

</article>

<!-- Chart.js | https://www.w3schools.com/ai/ai_chartjs.asp -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>