---
title: Compounding Calculator
layout: 'base.njk'
type: website
description: Compounding Calculator
author: Albini
keywords: investing, stocks, cheap, value
---

<article class="container">

<h1>Compounding Interest Calculator</h1>
<br>
<h2>The Eighth Wonder of the World</h2>
<br>

<div class="responsive-two">
    <section>
        <label for="">Starting Capital $</label>
        <br>
        <input type="number" id="capital" value="10000" onchange="compounding();">
        <label for="">Monthy Savings $</label>
        <br>
        <input type="number" id="savings" value="100" onchange="compounding();">
        <label for="">Years Investing</label>
        <br>
        <input type="number" id="years" value="5" onchange="compounding();">
        <label for="">Returns %</label>
        <br>
        <input type="number" id="returns" value="8" onchange="compounding();">
    </section>
    <section class="compound-result">
        <h3>Result</h3>
        <label for="">Total after <span id="totalYears"></span> years:</label>
        <span id="totalCompound"></span>
        <label for="">Return:</label>
        <span id="totalReturn"></span>
        <label for="">Total Savings: </label>
        <span id="totalSavings"></span>
    </section>
</div>

<!-- Make it run on startup once. -->

<br>

<table>
<!--     <thead>
        <tr>
            <th>Year</th>
            <th>Sum</th>
        </tr>
    </thead> -->
    <tbody id="tableData" class="every-other"></tbody>
</table>

</article>