---
title:  Choose Investing
layout: 'base.njk'
description: Find value investments and understand why they are valued at their current prices. We try to minimise our losses by going for companies that are on big sale
keywords: investing, stocks, cheap stock, value, nav dicount, value investing, how to choose dividend stocks
---
<div class="hero-img">
    <img loading="lazy" src="https://images.unsplash.com/photo-1607863680198-23d4b2565df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Sale picture">
        <div class="content">
            <h1>Find Investments</h1>
            <p>
                Let's make money work for us
            </p>
        </div>
    </div>
</div>

    {% include 'components/explain-this.njk' %}

    <br>
    <br>
    <br>
    <br>

    {% include 'components/featured.njk' %}